<html>
  <head>
    <title>Aprendendo NodeJS com o GoNode</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <input type="text" name="name" />
      <input type="date" name="bday">
      <button type="submit">Verificar</button>
    </form>
  </body>
</html>
